@model CategoryModel

<div classs="container">
    <div>
        <h2>Category</h2>
        <hr>
    </div>
    <form method="post">
        <label asp-for="Name"></label>
        <input asp-for="Name">
        <label asp-for="DisplayProperty"></label>
        <input asp-for="DisplayProperty">
        <button type="submit" class="btn btn-primary">Create</button>


    </form>

</div>

