@model IEnumerable<CategoryModel>

<div class="container p-4" >

    <div class="row p-3">
        <div class="col-6">
            <h2 class="text-primary">List Of Categories</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="CreateUpdate" asp-controller="Category" class="btn btn-primary"><i class="bi bi-plus-circle-fill p-2"></i>Create New Category</a>

        </div>
    </div>
</div>
    <table class="table  table-striped">
        <thead>
        <tr class="text-center">
               <th>Name</th>
               <th>Display Order</th>
               <th>Action</th>
           </tr>
        </thead>
        <tbody>
            @{
                foreach(var item in Model)
                {
                <tr class="text-center">

                    <td>@item.Name</td>
                    <td>@item.DisplayOrder</td>
                    <td role="group">
                        <a asp-action="CreateUpdate" asp-controller="Category" asp-route-Id="@item.Id"><i class="bi bi-pencil-square p-1"></i></a>
                        <a asp-action="Delete" asp-controller="Category" asp-route-Id="@item.Id"><i class="bi bi-trash3"></i></a>
                    
                    </td>
                    
                </tr>
                    


                }
            }


        </tbody>

    </table>


